.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: var(--container-height-s);
  gap: auto;
  width: 100%;
  max-width: var(--container-width-xl);
}

.btn {
  position: absolute;
  right: 0;
}
