.answerFormHeader {
  display: flex;
  flex-direction: column;
  background: var(--main-bg);
  margin: var(--spacing-l) 0;
  border-radius: var(--radius-m);
  max-width: var(--container-width-xl);
  width: 100%;
  padding: var(--spacing-xl);
}

.answerFormTitle {
  font-size: var(--font-size-xl);
}

.answerFormDesc,
.answerFormTitle,
.answerFormUser,
.required {
  margin: var(--spacing-s) 0;
}

.answerFormUser {
  font-weight: var(--font-weight-m);
  color: var(--p-text);
}

.required {
  color: var(--required);
}
