.userModalWrapper {
  height: var(--container-height-m);
  width: var(--container-width-m);
  background: var(--main-bg);
  position: absolute;
  top: var(--container-height-xs);
  right: var(--spacing-xl);
  border-radius: var(--radius-l);
  box-shadow: 0 var(--shadow-xs) var(--shadow-xs) 0 var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl);
  z-index: 4;
}

.userModalIcon {
  font-size: var(--font-size-xxxl) !important;
}

.buttonWrapper {
  display: flex;
  column-gap: var(--spacing-xl);
}

.cancelButton,
.actionButton {
  height: var(--button-height-xs);
  width: var(--button-width-m);
  border-radius: var(--radius-s);
}

.cancelButton {
  border: var(--border-width-xs) solid var(--btn-bg);
}

.actionButton {
  background: var(--btn-bg);
  color: var(--btn-text-color);
}

.actionButton:hover,
.cancelButton:hover {
  background: var(--btn-on-focus);
}

.cancelButton:hover {
  color: var(--btn-text-color);
  border: var(--border-width-xs) solid var(--btn-on-focus);
}
