.form-image {
  height: var(--image-height-m);
  max-height: var(--image-height-l);
  object-fit: cover;
  margin: var(--spacing-s) 0;
  border-radius: var(--radius-m);
  background-repeat: no-repeat;
  max-width: var(--container-width-xl);
  width: calc(100% - var(--spacing-xs));
}

.add-option {
  background: var(--main-bg);
  border-width: 0 0 var(--border-width-xsm) 0;
  width: var(--container-width-s);
  display: flex;
  cursor: pointer;
}

.form {
  background: var(--main-bg);
  border-radius: var(--radius-l);
  margin-bottom: var(--spacing-l);
  padding: var(--spacing-xl);
}

form {
  max-width: var(--container-width-xl);
  width: 100%;
  margin: 0 var(--spacing-xs);
}
