.create-form-btn {
  width: var(--button-height-l);
  height: var(--button-height-l);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-bg);
  border: var(--border-width-xs) solid var(--btn-border);
  box-shadow: 0 var(--shadow-xs) var(--shadow-xs) 0 var(--shadow);
}

.create-form-btn:hover {
  background: var(--create-form-btn-on-focus);
  border-color: var(--create-form-btn-on-focus);
  box-shadow: none;
  transition: box-shadow var(--transition-s) ease-in-out;
}

.create-form-img {
  width: var(--image-height-s);
  height: var(--image-height-s);
}

.main-body {
  height: calc(
    100vh - var(--container-height-xs) - var(--container-height-xxs)
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.create-form {
  display: flex;
  justify-content: center;
}

.create-form {
  margin-bottom: var(--spacing-m);
}

.forms {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
