* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  color: var(--on-surface);
  background-color: var(--surface);
  font-size: 14px;
}

button,
select {
  cursor: pointer;
}

button:hover {
  background-color: var(--chip-hover);
}

p {
  background-color: inherit;
}

svg {
  fill: var(--on-surface);
}

ul,
ol {
  list-style: none;
}

input:focus {
  outline: none;
  border-bottom: 2px solid rgb(76, 43, 135);
  width: 100%;
}

em {
  font-style: normal;
  background: inherit;
}

.material-symbols-outlined {
  color: #5f6368;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

body {
  background: rgb(225, 216, 241);
}
