.secondary-header {
  height: var(--container-height-xxs);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xl);
  font-size: var(--font-size-xs);
  background-color: var(--main-bg);
}

.header-nav-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--container-width-xs);
  cursor: pointer;
}

.header-nav-item:hover,
.active {
  border-bottom: var(--border-width-s) solid var(--border-bottom);
}

.header-nav-item-p {
  position: absolute;
  top: var(--spacing-xs);
}
