.secondary-header {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  background-color: var(--main-bg);
}

.header-nav-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 61px;
}

.header-nav-item:hover,
.active {
  border-bottom: 3px solid var(--border-bottom);
}

.header-nav-item-p {
  position: absolute;
  top: 5px;
}
