.btn {
  height: 30px;
  width: 80px;
  border-radius: 8px;
  color: var(--btn-text-color);
  background-color: var(--btn-bg);
  cursor: pointer;
  position: absolute;
}

.btn:hover {
  background-color: var(--btn-on-focus);
}
