.btn {
  height: var(--button-height-s);
  width: var(--button-width-l);
  border-radius: var(--radius-m);
  color: var(--btn-text-color);
  background-color: var(--btn-bg);
  position: absolute;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-on-focus);
}
