.formHeader {
  display: flex;
  flex-direction: column;
  background: var(--main-bg);
  margin: var(--spacing-l) 0;
  border-radius: var(--radius-m);
  max-width: var(--container-width-xl);
  width: 100%;
  padding: var(--spacing-xl);
}

.formTitle {
  font-size: var(--font-size-xl);
}

.formDescription,
.formTitle,
.userEmail {
  margin: var(--spacing-s) 0;
}
