.form-header {
  display: flex;
  flex-direction: column;
  background: var(--main-bg);
  margin: var(--spacing-lg) 0;
  border-radius: var(--radius-md);
  max-width: var(--container-width-xl);
  width: 100%;
  padding: var(--spacing-xl);
}

.form-title {
  font-size: var(--font-size-xl);
}

.form-desc,
.form-title,
#user-email {
  margin: var(--spacing-sm) 0;
}
