.answerFormQuestion {
  background: var(--main-bg);
  width: 100%;
  max-width: var(--container-width-xl);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl);
  border-radius: var(--radius-m);
  margin-bottom: var(--spacing-l);
  row-gap: var(--spacing-m);
}

.questionWrapper {
  display: flex;
  gap: var(--spacing-xxs);
  align-items: center;
}

.answerOptionWrapper {
  display: flex;
  gap: var(--spacing-m);
  margin: var(--spacing-s) 0;
}

.answerFormImage {
  width: var(--image-input-height-m);
  height: var(--image-input-width-m);
  object-fit: cover;
}

.answerInputType.radio:focus,
.answerInputType.checkbox:focus {
  width: var(--input-focus-width-s);
}

.answerInputType.date,
.answerInputType.date:focus {
  width: var(--container-width-s);
}
