.form-item-wrapper {
  width: 200px;
  height: 200px;
}

.form-item-image {
  height: 80%;
  background-color: var(--form-item-img);
  border-radius: 10px 10px 0 0;
  border: 1px solid var(--form-item-border);
  border-bottom: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.form-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  border: 1px solid var(--form-item-border);
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.form-item-text {
  margin-left: 5px;
  font-weight: 600;
  font-size: 14px;
  color: var(--p-text);
}

.form-image--small {
  height: 100%;
}
