.form-item-wrapper {
  width: var(--container-height-md);
  height: var(--container-height-md);
}

.form-item-image,
.form-item-title {
  display: flex;
  cursor: pointer;
}

.form-item-image {
  height: 80%;
  background-color: var(--body-bg);
  border-radius: var(--radius-lg) 0;
  border: var(--border-width-xs) solid var(--form-item-border);
  border-bottom: 0;
  justify-content: center;
}

.form-item-title {
  align-items: center;
  justify-content: space-between;
  height: 20%;
  border: var(--border-width-xs) solid var(--form-item-border);
  border-radius: 0 var(--radius-sm);
}

.form-item-text {
  margin-left: var(--spacing-xs);
  font-weight: var(--font-weight-md);
  font-size: var(----font-size-sm);
  color: var(--p-text);
}

.form-image--small {
  height: 100%;
}
