.loginMain {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loginMain::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://kstatic.googleusercontent.com/files/9f04faac24aed8bf8fb381029de951128d1d36373f89675265a6654d0c47b74b2d83a26b68b834ce2eea3bfe8001966f76895888138f135a81d099fc207c73bb');
  background-size: var(--image-bg-size-l);
  filter: blur(var(--blur-size)) grayscale(var(--grayscale));
  z-index: -1;
}

.loginWrapper {
  height: 30vw;
  width: 55vw;
  background: var(--main-bg);
  min-height: var(--container-height-l);
  max-height: var(--container-height-xl);
  min-width: var(--container-width-m);
  max-width: var(--container-width-l);
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-l);
  padding: var(--spacing-xxl);
}

.heading {
  font-size: var(--font-size-l);
  letter-spacing: var(--letter-spacing-s);
}

.subHeading {
  font-size: var(--font-size-xs);
  margin-top: var(--spacing-xxs);
  color: var(--heading-text);
}

.loginForm {
  margin: var(--spacing-xxl) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.loginInput,
.loginInput:focus {
  outline: var(--border-width-xs) solid var(--input-outline);
  border-radius: var(--radius-xs);
  height: var(--button-height-s);
  width: 100%;
  margin-bottom: var(--spacing-m);
  padding-left: var(--spacing-xxs);
  border: none;
}

.loginInput:focus {
  background: var(--input-on-focus);
}

.loginButton {
  width: 100%;
  height: var(--button-height-m);
  color: var(--btn-text-color);
  background-color: var(--btn-bg);
  border-radius: var(--radius-xs);
  letter-spacing: var(--letter-spacing-s);
  font-weight: var(--font-weight-m);
}

.loginButton:focus {
  border: none;
}

.loginButton:hover {
  background-color: var(--btn-on-focus);
}

.loginFooter {
  width: 100%;
  font-size: var(--font-size-xs);
  color: var(--footer-p-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
