.main-page-header {
  height: var(--container-height-xs);
  background-color: var(--main-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 var(--spacing-xl);
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-md);
}

.main-page-body {
  height: 100vh;
}

.nav-wrapper,
.user-icon {
  cursor: pointer;
}

.header-title {
  color: var(--heading-text);
  font-weight: var(--font-weight-md);
  font-size: var(--font-size-md);
}

.form-icon {
  width: var(--button-width-sm);
}
