.answers {
  font-size: var(--font-size-xl);
  font-weight: 100;
}

.formAnswer {
  background: var(--main-bg);
  width: 100%;
  max-width: var(--container-width-xl);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl);
  border-radius: var(--radius-m);
  margin-bottom: var(--spacing-l);
  row-gap: var(--spacing-m);
}

.bar {
  fill: var(--btn-bg);
}

.rectangle {
  fill: var(--btn-on-focus);
}

.answerNumber {
  font-size: var(--font-size-xs);
  color: var(--p-text);
}

.formHeader {
  display: flex;
  flex-direction: column;
  background: var(--main-bg);
  margin: var(--spacing-l) 0;
  border-radius: var(--radius-m);
  max-width: var(--container-width-xl);
  width: 100%;
  padding: var(--spacing-xl);
}
