.question {
  background: var(--main-bg);
  width: 100%;
  max-width: var(--container-width-xl);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl);
  border-radius: var(--radius-md);
}

.option-control {
  display: flex;
  gap: var(--spacing-md);
  margin: var(--spacing-sm) 0;
  flex-direction: column;
}
