.imageInput {
  display: none;
}

.question {
  background: var(--main-bg);
  width: 100%;
  max-width: var(--container-width-xl);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl);
  border-radius: var(--radius-m);
  margin-bottom: var(--spacing-l);
  row-gap: var(--spacing-m);
}

.optionControl {
  display: flex;
  gap: var(--spacing-l);
  margin: var(--spacing-s) 0;
  flex-direction: column;
}

.questionFooter {
  display: grid;
  grid-template-columns: calc(50% + var(--icon-size) / 2) calc(
      50% - var(--icon-size) / 2
    );
  justify-items: end;
}

.questionDeleteButton,
.questionImage {
  cursor: pointer;
}

.questionImage {
  margin-top: calc(var(--spacing-xxs) * 2);
}

.inputSettingWrapper {
  display: flex;
  align-items: start;
  width: 100%;
  gap: var(--spacing-m);
}

.questionInput,
.questionInput:focus {
  width: 50%;
  height: var(--input-height-m);
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
}

.questionInput {
  padding: var(--spacing-xs);
}

.questionImagePreview {
  width: var(--image-input-height-m);
  height: var(--image-input-width-m);
  object-fit: cover;
}

@media only screen and (max-width: 675px) {
  .inputSettingWrapper {
    flex-direction: column;
    align-items: unset;
  }

  .questionImage {
    margin-left: calc(var(--spacing-xxs) * 2);
  }

  .inputSettingWrapper > * {
    width: 100%;
  }

  .inputSettingWrapper > *:focus {
    width: 100%;
  }
}
