.add-option {
  color: var(--p-text);
  margin-top: var(--spacing-xxxs);
}

.add-option-button {
  margin-top: var(--spacing-xxs);
}

.option-block,
.option-wrapper {
  display: flex;
  align-items: start;
}

.option-wrapper {
  gap: var(--spacing-m);
  width: 100%;
}
