.add-option {
  color: var(--p-text);
}

.option-wrapper {
  display: flex;
  gap: var(--spacing-m);
  align-items: center;
  width: 100%;
}

.option-block {
  display: flex;
  justify-content: space-between;
}
